<html>
<head>
  <title>Django image annotator</title>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/annotator.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/imgareaselect-default.css" />
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.imgareaselect.pack.js"></script>
</head>

<body>
<div id="container">
<h1>Django image annotator</h1>
{% block content %}
{% endblock %}
<div class="clearer"></div>
</div>
</body>
</html>
